/* public/style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  

h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin: 50px ;
    padding: 20px;
}

main {
    margin: 20px;
}

.data-table {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #0066ff;
    color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

tr:hover {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    th, td {
        font-size: 14px;
    }
}